<a href="https://colab.research.google.com/github/surya12518/Hotel-Data-Analysis/blob/main/Hotel_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name**    -

**Project Type**    - EDA/Regression/Classification/Unsupervised

**Contribution**    - Individual

# **Project Summary -**

# **General Guidelines** : -

1.   Well-structured, formatted, and commented code is required.
2.   Exception Handling, Production Grade Code & Deployment Ready Code will be a plus. Those students will be awarded some additional credits.
     
     The additional credits will have advantages over other students during Star Student selection.
       
             [ Note: - Deployment Ready Code is defined as, the whole .ipynb notebook should be executable in one go
                       without a single error logged. ]

3.   Each and every logic should have proper comments.
4. You may add as many number of charts you want. Make Sure for each and every chart the following format should be answered.
        

```
# Chart visualization code
```
            

*   Why did you pick the specific chart?
*   What is/are the insight(s) found from the chart?
* Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

5. You have to create at least 20 logical & meaningful charts having important insights.


[ Hints : - Do the Vizualization in  a structured way while following "UBM" Rule.

U - Univariate Analysis,

B - Bivariate Analysis (Numerical - Categorical, Numerical - Numerical, Categorical - Categorical)

M - Multivariate Analysis
 ]

# ***Let's Begin !***

## ***1. Know Your Data***

### Import Libraries

In [ ]:
# All vital libraries in this project
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import drive

### Dataset Loading

In [ ]:
# Dataset loading from drive
drive.mount("/content/drive")
hotel = pd.read_csv("/content/drive/MyDrive/Practice data/project data/Hotel Bookings.csv")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Dataset First View

In [ ]:
hotel.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

### Dataset Rows & Columns count

In [ ]:
hotel.shape

(119390, 32)

### Dataset Information

In [ ]:
hotel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

### Duplicate Values

In [ ]:
hotel.duplicated().sum()

31994

### Missing Values/Null Values

In [ ]:
# Checking how many null values are in each column
hotel.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

### What did you know about your dataset?


The hotel dataset, encompassing 119,390 rows and 32 columns, provides a comprehensive overview of various facets of hotel reservations. Among these rows, 31,994 are duplicates, while 4 columns exhibit null values, with the 'company' column having the highest count and 'children' the lowest. The dataset comprises diverse data types and indicators, encapsulating critical information for each reservation entry. Key attributes include the type of hotel, cancellation status, lead time, arrival details (year, month, week number, day of the month), stay duration on weekends and weekdays, guest demographics (adults, children, babies), meal type, guest country, market segment, and distribution channel. Additionally, it captures whether the guest is a repeated visitor, history of cancellations and previous bookings, room details (reserved and assigned types), booking modifications, deposit type, agent and company IDs, waiting list duration, customer type, average daily rate, car parking requests, special requests, reservation status, and related dates. This rich dataset encompasses the entire lifecycle of hotel reservations, providing valuable insights into booking patterns, guest characteristics, and operational dynamics from booking to check-out.

## ***2. Understanding Your Variables***

In [ ]:
hotel.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

In [ ]:
hotel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

### Variables Description


The hotel dataset, spanning 119,390 rows and 32 columns, serves as a comprehensive narrative of the hotel reservation journey. Within this narrative, 31,994 duplicate entries hint at recurring themes, while 4 columns, notably 'company,' unveil gaps in the story. Each column is a character with a unique role: 'hotel' sets the stage, 'is_canceled' adds suspense, 'lead_time' measures anticipation, and 'arrival_date' details the timeline. From weekend rendezvous to weekday retreats, the script delves into guest demographics, culinary preferences, and global origins. 'Booking_changes' introduces plot twists, 'adr' sets the pricing narrative, and 'reservation_status' unveils the climax. In this vibrant story, each entry captures the essence of a hotel stay, weaving a tale of anticipation, uniqueness, and dynamic interactions from reservation to check-out.

### Check Unique Values for each variable.

In [ ]:
# Check Unique Values for each variable.
for variable in hotel.columns:
  print(hotel.value_counts(variable))
  print()
  print("././././././././././././././././")
  print()

hotel
City Hotel      79330
Resort Hotel    40060
dtype: int64

././././././././././././././././

is_canceled
0    75166
1    44224
dtype: int64

././././././././././././././././

lead_time
0      6345
1      3460
2      2069
3      1816
4      1715
       ...
370       1
424       1
532       1
709       1
737       1
Length: 479, dtype: int64

././././././././././././././././

arrival_date_year
2016    56707
2017    40687
2015    21996
dtype: int64

././././././././././././././././

arrival_date_month
August       13877
July         12661
May          11791
October      11160
April        11089
June         10939
September    10508
March         9794
February      8068
November      6794
December      6780
January       5929
dtype: int64

././././././././././././././././

arrival_date_week_number
33    3580
30    3087
32    3045
34    3040
18    2926
21    2854
28    2853
17    2805
20    2785
29    2763
42    2756
31    2741
41    2699
15    2689
27    2664
25    2663
38    2661
23    2621
35    2593
39    2581
22    2546
24    2498
13    2416
16    2405
19    2402
40    2397
26    2391
43    2352
44    2272
14    2264
37    2229
8     2216
36    2167
10    2149
9     2117
7     2109
12    2083
11    2070
45    1941
53    1816
49    1782
47    1685
46    1574
6     1508
50    1505
48    1504
4     1487
5     1387
3     1319
2     1218
52    1195
1     1047
51     933
dtype: int64

././././././././././././././././

arrival_date_day_of_month
17    4406
5     4317
15    4196
25    4160
26    4147
9     4096
12    4087
16    4078
2     4055
19    4052
20    4032
18    4002
24    3993
28    3946
8     3921
3     3855
30    3853
6     3833
14    3819
27    3802
21    3767
4     3763
13    3745
7     3665
1     3626
23    3616
11    3599
22    3596
29    3580
10    3575
31    2208
dtype: int64

././././././././././././././././

stays_in_weekend_nights
0     51998
2     33308
1     30626
4      1855
3      1259
6       153
5        79
8        60
7        19
9        11
10        7
12        5
13        3
16        3
14        2
18        1
19        1
dtype: int64

././././././././././././././././

stays_in_week_nights
2     33684
1     30310
3     22258
5     11077
4      9563
0      7645
6      1499
10     1036
7      1029
8       656
9       231
15       85
11       56
19       44
12       42
20       41
14       35
13       27
16       16
21       15
22        7
18        6
25        6
30        5
17        4
24        3
40        2
26        1
32        1
33        1
34        1
35        1
41        1
42        1
50        1
dtype: int64

././././././././././././././././

adults
2     89680
1     23027
3      6202
0       403
4        62
26        5
5         2
20        2
27        2
6         1
10        1
40        1
50        1
55        1
dtype: int64

././././././././././././././././

children
0.0     110796
1.0       4861
2.0       3652
3.0         76
10.0         1
dtype: int64

././././././././././././././././

babies
0     118473
1        900
2         15
9          1
10         1
dtype: int64

././././././././././././././././

meal
BB           92310
HB           14463
SC           10650
Undefined     1169
FB             798
dtype: int64

././././././././././././././././

country
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
       ...
MLI        1
MMR        1
MRT        1
SMR        1
PYF        1
Length: 177, dtype: int64

././././././././././././././././

market_segment
Online TA        56477
Offline TA/TO    24219
Groups           19811
Direct           12606
Corporate         5295
Complementary      743
Aviation           237
Undefined            2
dtype: int64

././././././././././././././././

distribution_channel
TA/TO        97870
Direct       14645
Corporate     6677
GDS            193
Undefined        5
dtype: int64

././././././././././././././././

is_repeated_guest
0    115580
1      3810
dtype: int64

././././././././././././././././

previous_cancellations
0     112906
1       6051
2        116
3         65
24        48
11        35
4         31
26        26
25        25
6         22
5         19
19        19
14        14
13        12
21         1
dtype: int64

././././././././././././././././

previous_bookings_not_canceled
0     115770
1       1542
2        580
3        333
4        229
       ...
47         1
49         1
50         1
51         1
72         1
Length: 73, dtype: int64

././././././././././././././././

reserved_room_type
A    85994
D    19201
E     6535
F     2897
G     2094
B     1118
C      932
H      601
P       12
L        6
dtype: int64

././././././././././././././././

assigned_room_type
A    74053
D    25322
E     7806
F     3751
G     2553
C     2375
B     2163
H      712
I      363
K      279
P       12
L        1
dtype: int64

././././././././././././././././

booking_changes
0     101314
1      12701
2       3805
3        927
4        376
5        118
6         63
7         31
8         17
9          8
10         6
13         5
14         5
15         3
11         2
12         2
16         2
17         2
18         1
20         1
21         1
dtype: int64

././././././././././././././././

deposit_type
No Deposit    104641
Non Refund     14587
Refundable       162
dtype: int64

././././././././././././././././

agent
9.0      31961
240.0    13922
1.0       7191
14.0      3640
7.0       3539
         ...
90.0         1
213.0        1
444.0        1
446.0        1
247.0        1
Length: 333, dtype: int64

././././././././././././././././

company
40.0     927
223.0    784
67.0     267
45.0     250
153.0    215
        ...
284.0      1
425.0      1
288.0      1
8.0        1
6.0        1
Length: 352, dtype: int64

././././././././././././././././

days_in_waiting_list
0      115692
39        227
58        164
44        141
31        127
        ...
89          1
92          1
142         1
109         1
52          1
Length: 128, dtype: int64

././././././././././././././././

customer_type
Transient          89613
Transient-Party    25124
Contract            4076
Group                577
dtype: int64

././././././././././././././././

adr
62.00      3754
75.00      2715
90.00      2473
65.00      2418
0.00       1959
           ...
110.86        1
110.79        1
110.74        1
110.72        1
5400.00       1
Length: 8879, dtype: int64

././././././././././././././././

required_car_parking_spaces
0    111974
1      7383
2        28
3         3
8         2
dtype: int64

././././././././././././././././

total_of_special_requests
0    70318
1    33226
2    12969
3     2497
4      340
5       40
dtype: int64

././././././././././././././././

reservation_status
Check-Out    75166
Canceled     43017
No-Show       1207
dtype: int64

././././././././././././././././

reservation_status_date
2015-10-21    1461
2015-07-06     805
2016-11-25     790
2015-01-01     763
2016-01-18     625
              ...
2015-03-12       1
2015-03-11       1
2015-03-10       1
2015-01-28       1
2015-05-15       1
Length: 926, dtype: int64

././././././././././././././././

## ***3. Data Wrangling***

### Data Wrangling Code

In [ ]:
hotel.shape

(119390, 32)

In [ ]:
# Removing Duplicates
hotel.drop_duplicates(inplace= True)

In [ ]:
# Rechecking shape for confirmation
hotel.shape

(87396, 32)

In [ ]:
# First is children that have only 4 null values present datatype of the row is float.
# Simply i will drop null values from children because this is neglible in respect to no. of rows

hotel.dropna(subset= ["children"], inplace = True, axis= 0)

In [ ]:
# Second is a country that has 452 null values and datatype is an object.
# Filling it with mode of country columns because it is also very less respect to rows

hotel["country"].fillna(hotel["country"].mode()[0], inplace= True)

Agent and Company columns have too many null values it can affect our whole dataset so we will leave it untouched.

We will clear it at the time of performing visualization time.

In [ ]:
# checking for null values present or not
hotel.isnull().sum()

hotel                                 0
is_canceled                           0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              0
babies                                0
meal                                  0
country                               0
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                             12191
company                           82133
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
reservation_status_date               0
dtype: int64


### What all manipulations have you done and insights you found?

Data cleaning: For cleaning Frist removed all duplicate values that were present. Then, Dealing with Null values. Four columns have Null values. In the first, only 4 columns have null values so simply removed all. In the second 452 columns fill all with mode value. In the Third and last so many null values are present fill all with custom id because those columns are id columns and we could not fill mean, median, or mode because id is unique for everyone.